<!doctype html>
<html>
<head>
	<title>Group spy</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css"/>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui-1.8.18.custom.css"/>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/demo-table.css"/>
	<script>
		var groups_info = [0{% for g in groups %}, {gid: "{{ g.gid }}", agency: "{{ g.agency }}", brand: "{{g.brand}}", alias: "{{g.alias}}" }{% endfor %}]
		groups_info.shift()
		if (!window.ASSETS)
			var ASSETS = {
				"swf/JSHelper_Saver.swf": "swf/JSHelper_Saver.swf",
				"img/ajax-loader.gif": "img/ajax-loader.gif"
			}
		var STATIC_PATH = "{{ STATIC_URL }}"
	</script>
	<script src="{{ STATIC_URL }}js/js_external/swfobject.js"></script>
	<script src="{{ STATIC_URL }}js/js_external/jquery.js"></script>
	<script src="{{ STATIC_URL }}js/js_external/swfobject.js"></script>
	<script src="{{ STATIC_URL }}js/js_external/jquery-ui.js"></script>
	<script src="{{ STATIC_URL }}js/js_external/jquery.dataTables.min.js"></script>
	<script src="{{ STATIC_URL }}js/js_external/jquery.DOMWindow.js"></script>
	<script src="{{ STATIC_URL }}js/js_external/highcharts.js"></script>
	<script src="{{ STATIC_URL }}js/js_external/highstock.js"></script>
	<script src="{{ STATIC_URL }}js/groupspy-common.js"></script>
	<script src="{{ STATIC_URL }}js/localization.js"></script>
	<script src="{{ STATIC_URL }}js/jsage/core.js"></script>
	<script src="{{ STATIC_URL }}js/ui/main-screen.js"></script>
	<script src="{{ STATIC_URL }}js/ui/main-charts-frame/main-charts-frame.js"></script>
	<script src="{{ STATIC_URL }}js/ui/posts-frame.js"></script>
	<script src="{{ STATIC_URL }}js/ui/usertop-frame.js"></script>
	<script src="{{ STATIC_URL }}js/ui/sa-distribution-charts-widget.js"></script>
	<script src="{{ STATIC_URL }}js/ui/credentials-manager.js"></script>
</head>
<body>
<div>
	TEMPLATE
	<div id="group_info_updater">
		<div class="group_updater_header">Группа <span id="group_updater_header"></span></div>
		<input type="hidden" id="group_id_hidden_input" />
		<div class="group_info_cell">
			<span>Агентство:</span>
			<input id="group_agency_input" type="text" style="width: 410px" />
		</div>
		<div class="group_info_cell">
			<span>Бренд:</span>
			<input id="group_brand_input" type="text" style="width: 420px" />
		</div>
		<div class="group_updater_update_button" onclick="update_group_info()">
			Обновить
		</div>
	</div>
	<div id="methodology-helper">
		<h2>Определения</h2>
		<p><u>Срок жизни поста</u> - интервал времени от даты публикации поста до времени последнего комментария к посту</p>
		<p><u>Активный пост в текущий момент времени</u> - пост, со времени последнего комментария к которому не прошло больше недели</p>
		<p><u>Активный пост в момент времени t</u> - пост, чей интервал жизни содержит момент времени t</p>
		<p><u>Снимок показателя</u> - значение показателя, зафиксированное системой в определенный момент времени</p>
		<p><u>Финальное значение показателя</u> - самое последнее значение показателя, зафиксированное системой. Например, 15.08.2011 у поста - 7 лайков, а 16.08.2011 - 10 лайков. Тогда 7 и 10 - это снимки для показателя "лайки". Если сегодня 16.08, то финальное значение - 10 лайков.</p>
		<h2>Смысловая нагрузка графиков</h2>
		<h3>График общей информации о пользователях</h3>
		<p>График отражает снимки пяти показателей</p>
		<p>Активные пользователи - число юзеров, давших минимум один отклик суммарно по всем активным постам</p>
		<p>Очень активные пользователи - число юзеров, давших минимум три отклика суммарно по всем активным постам</p>
		<h3>График активности пользователей - 1</h3>
		<p>Отображает снимки суммарного числа соц. действий по всем активным постам</p>
		<h3>График активности пользователей - 2</h3>
		<p>Для каждого момента времени t отображает финальные значения показателей для постов, активных в момент времени t</p>
		<h3>Графики со стратификацией постов по времени и типу прикрепленного контента</h3>
		<p>Для графиков со стратификацией по времени значение соц. показателей суммируется для всех постов с датой публикации, попадающей в данную страту (например, с 10 до 11 часов). Показатели считаются для всех постов,
		опубликованных не позднее одного месяца назад</p>
	</div>
	<div id="posts-helper">
		<h2>Редактирование и удаление категорий</h2>
		<p>Двойной клик по тэгу вводит его в режим редактирования, кнопка ОК сохраняет изменения, крест удаляет тэг</p>
		<p>Чтобы присвоить категорию посту, нужно перетащить ее на пост (драг-н-дроп). Чтобы удалить категорию из поста - двойной клик по тэгу</p>
	</div>
	<div class="column" id="group-list-column">
		<div class="header">
			Отслеживаемые группы
		</div>
		<div class="metro-scroll" id="groups-list">
			{% for g in groups %}
			<div class="group" id="group_div_{{ g.gid }}">
				<div data-group-id="{{ g.gid }}" class="group_header"><span class="group_alias" id="group_alias_{{ g.gid }}" onclick="showGroup({{ g.gid }})">{{ g.alias }}</span><span onclick="deleteGroup({{ g.gid }})" class="group_delete" style="display:none">x</span></div>
				<div class="group_info"><span id="group_minor_info_{{g.gid}}" onclick="show_dialog('group_info_updater', [{{ g.gid }}])"><span id="group_agency_span_{{g.gid}}">{% if g.agency|length_is:0 %}Агентство не указано{% else %}{{g.agency}}{% endif %}</span> - <span id="group_brand_span_{{g.gid}}">{% if g.brand|length_is:0 %}Бренд не указан{% else %}{{g.brand}}{% endif %}</span></span></div>
				<div class="group_href"><a target="blank" class="group_href" href="http://vkontakte.ru/club{{ g.gid }}">http://vkontakte.ru/club{{ g.gid }}</a></div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="column" id="stats-column">
		<div class="header second-column-header" id="stats-header">
			<div id="screen-stat-header">Общая статистика<span id='methodology-help' class='helper-span'>[?]</span></div>
			<div id="screen-post-header" style="display:none">Посты группы<span id='posts-help' class='helper-span'>[?]</span></div>
			<div id="screen-group-comparison-header" style="display:none">Сравнение групп</div>
			<div id="screen-usertop-header" style="display:none">Топ пользователей</div>
			<div id="screen-sa_distribution-header" style="display:none">Временное распределение социальных действий</div>
		</div>
		<div class="group_asking_to_click second-column-header">Выберите группу из списка слева</div>
		<div style='width:100%; height:100%; overflow-y:auto'>
			<div id="central-sa_distribution" style='display:none;'>
				<div class="chart_container"><div id="sa-intraday-distribution"></div></div>
				<div class="chart_container"><div id="sa-intraday-result"></div></div>
				<div class="chart_container"><div id="sa-intraweek-distribution"></div></div>
				<div class="chart_container"><div id="sa-intraweek-result"></div></div>				
			</div>
			<div id="central-group" style='display:none;'>
				<div id="group_stats_snapshot_header">Значения основных показателей сейчас</div>
				<div id="group_stats_snapshot"></div>
				<div id="group_cumulative_posts">
					<div class="blue-subheader pointer gcp-toggle" onclick="$('#group_cumulative_posts_widget').toggle(); $('.gcp-toggle').toggle()">Хочу еще больше информации!</div>
					<div class="blue-subheader pointer gcp-toggle" onclick="$('#group_cumulative_posts_widget').toggle(); $('.gcp-toggle').toggle()" style="display:none">Хватит, насмотрелся!</div>
					<div id="group_cumulative_posts_widget" style="display:none">
						<div style="display:inline-block">Начало периода: <input type="text" id="gcp-time-start" class="gcp-datepicker" /></div>
						<div style="display:inline-block">Конец периода: <input type="text" id="gcp-time-end" class="gcp-datepicker" /></div>
						<table id="gcp-table" cellspacing="0" cellpadding="0" style="text-align:center; border-collapse:collapse">
							<tr><td></td><td>Лайки</td><td>Комментарии</td><td>Репосты</td><td>Всего соц. действий</td></tr>
							<tr><td style="text-align:left; padding:0px;">Суммарно</td><td></td><td></td><td></td><td></td></tr>
							<tr><td style="text-align:left; padding:0px;">В среднем на пост</td><td></td><td></td><td></td><td></td></tr>
							<tr><td style="text-align:left; padding:0px;">В среднем в день</td><td></td><td></td><td></td><td></td></tr>
							<tr><td style="text-align:left; padding:0px;">В среднем на участника</td><td></td><td></td><td></td><td></td></tr>
						</table>
						<div style="margin-top:10px;">Всего постов: <span id="gcp-posts-count" class="gcp-stat"></span></div>
					</div>
				</div>
				<div id="group_users_chart" class="chart_container" style="clear: both"></div>
				<div class="chart_container"><div id="group_activity_chart"></div></div>
				<div class="chart_container" style="height:540px"><div id="group_social_activity_dynamics"></div></div>
				<!--<div class="chart_container"><div id="social_activity_hourly_stratified"></div></div>
				<div class="chart_container"><div id="social_activity_daily_stratified"></div></div>-->
				<div class="chart_container"><div id="social_activity_content_stratified"></div></div>
				<div id="demogeo_container">
					<div id="demogeo_snapshot_header">Демографическая и географическая статистики</div>
					<div id="demogeo_switcher"></div>
					<table>
						<tr>
							<td>
								<div id="geo_snapshot_chart" style="width: 400px; height: 400px;"></div>
							</td>
							<td>
								<div id="age_snapshot_chart" style="width: 400px; height: 400px;"></div>
							</td>
						</tr>
						<tr>
							<td>
								<div id="man_age_snapshot_chart" style="width: 400px; height: 400px;"></div>
							</td>
							<td>
								<div id="woman_age_snapshot_chart" style="width: 400px; height: 400px;"></div>
							</td>
						</tr>
						<tr>
							<td>
								<div id="sex_snapshot_chart" style="width: 400px; height: 400px;"></div>
							</td>
							<td>
								<div id="education_snapshot_chart" style="width: 400px; height: 400px;"></div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div id="central-usertop" style='display:none'>
				<div id="usertop-table"></div>
			</div>
			<div id="central-posts" style='display:none;'>
				<div class="big-header">Категории текстов</div>
				<div id="tag-set"></div>
				<div class='text-category-adder'><span class="text-category-adder" onclick="add_text_category()">Добавить</span> новую: <input type="text" id="text-category-input"></div>
				<div id="header">Посты</div>
				<div id="filter-box">только от имени группы: <input type="checkbox"/></div>
				<div id="posts-list">
				</div>
			</div>
			<div id="central-group-comparison">
				<div><span class="small-header" style="color:red" id="gc-alias-1"></span><span style="margin-left:10px; margin-right:10px;"> vs </span><span style="color:blue" class="small-header" id="gc-alias-2"></span></div>
				<div>
					<table>
						<tr>
							<td><div id="gc-dynamics-chart-container"></div></td>
							<td><div id="gc-dynamics-chart-filter"></div></td>
						</tr>
					</table>
				</div>
				<div style="margin-top:25px; margin-bottom:10px;" class="small-header">Распределение по возрастам: </div>
				<div id="gc-demogeo-container">
					<table style="width:100%">
						<tr>
							<td style="width:0%"><div id="gc-demogeo-chart"></div></td>
							<td style="width:100%"><div id="gc-demogeo-table"></div></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="column" id="system-column">
		<div class="header second-column-header" id="stats-header">Состояние системы</div>
		<div class="metro-scroll">
			<div class="system-column-subheader">Общее</div>
			<div>Пользователей в группах: <span class='system-column-number'>{{ total_users }}</span></div>
			<div style='margin-top:20px' class="system-column-subheader">Аккаунты</div>
			<div class='pointer' onclick="$('#credentials-widget').toggle()">Аккаунтов используется:  <span id="credentials-count" class='system-column-number'>загрузка...</span></div>
			<div id="credentials-widget" style="display:none">
				<div><span class="emphasize pointer" id="credentials-add-button">Добавить:</span> <input style="width:80px" id="credentials-input" type="text"/></div>
				<div id="system-credentials-list"></div>
			</div>
			<div>Рекомендуется аккаунтов: <span id="rec-credentials-count" class='system-column-number'>{{ rec_credentials_count }}</span></div>
			<div style='margin-top:20px' class="system-column-subheader">Статистика сканеров</div>
			{% for t in timetable %}
				<div title='установленный интервал: {{ t.interval }}'>{{ t.label }}: <span class='system-column-number' {% if t.color %}style='color:red'{% else %}style='color:green'{% endif %}>{{ t.time }}</span></div>
			{% endfor %}
			<div style='margin-top:20px' class="system-column-subheader">Статистика базы данных</div>
			<div>Хранится постов: <span class='system-column-number'>{{ total_posts }}</span></div>
			<div>Хранится аккаунтов: <span class='system-column-number'>{{ accounts_stored }}</span></div>
			<div>Хранится соц. действий: <span class='system-column-number'>{{ social_actions_stored }}</span></div>
			<div style='margin-top:20px' class="system-column-subheader">Версия системы</div>
			<div>0.1.1 alpha</div>
		</div>
	</div>
	<div id="control_div">
		<div class="group" id="addgroup_div">
			<span class="emphasize pointer" onclick="addGroup()">Добавить</span> группу <input id="added_group_id" type="text" style="width: 70px; margin-left:10px;"> 
		</div>
		<div id="screen-select-div" class="group">
			<span>Вывести:</span>
			<select style="margin-left:15px;" id="screen-select">
				<option value="screen-stat">дашбоард</option>
				<option value="screen-post">посты</option>
				<option value="screen-usertop">топ пользователей</option>
				<option value="screen-sa_distribution">распределение соц. действий</option>
			</select>
		</div>
		<div id="auth-div" class="group">
			<div style="display:inline">
				<span class="emphasize pointer" onclick="window.location = '../accounts/logout/'">Выйти</span> из аккаунта <span class="emphasize pointer" id="auth-logout">{{ username }}</span>
			</div>
			<div id="operations-counter" class="group"></div>
		</div>
	</div>
</div>
</body>
</html>