@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/segoeuil.ttf');
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Segoe UI';
	min-width:1800px;
	overflow-x:auto;
	overflow-y:hidden;
}

div.header {
	font-family: 'Segoe UI';
	font-size: 24px;
	padding-bottom: 20px;
	color: #ff6600
}

span.emphasize {
	color: #ff6600;
}

div.emphasize {
	color: #ff6600;
}

div.group {
	font-family: 'Segoe UI';
	font-size: 20px;
	margin-bottom: 10px;
}

span.group_alias:hover {
	color: #ff6600;
	cursor: pointer;
}

span.group_delete {
	color: red;
	margin-left: 12px;
	vertical-align: 1px;
	font-size: 16px;
	cursor:pointer;
}

div.column {
	float: left;
	margin-top: 15px;
}

div.metro-scroll {
	overflow-y:auto;
}

a.group_href {
	font-size: 14px;
	color:#808080;
	margin: 0;
	padding: 0;
}

div.group_href {
	margin-top: -8px;
}

div.group_info {
	font-size: 14px;
	color:#808080;	
}

div.group_asking_to_click {
	font-family: "Segoe UI";
	font-size: 20px;
	margin-top:-1px;
}

.pointer {
	cursor: pointer;
}

.underline {
	text-decoration: underline;
}

div.second-column-header {

}

div.group_info span {
	cursor: pointer;
}

#group_info_updater {
	width: 100%;
	height: 50px;
	display: none;
	background: white;
	font-family: "Segoe UI";
}

div.group_updater_header {
	font-size: 20px;
	margin-bottom: 10px;
}

div.group_updater_update_button {
	margin-top: 10px;
	font-size: 18px;
	color: #ff6600;
	cursor: pointer;
}

div.group_info_cell {
	margin-top: 8px;
	margin-bottom: 8px;
}

#group_updater_header {
	color: #ff6600;
}

div.inline {
	display: inline;
}

#methodology-helper {
	width: 640px;
	height: 480px;
	display: none;
	background: white;
	font-family: "Segoe UI";
}

#posts-helper {
	width: 640px;
	height: 480px;
	display: none;
	background: white;
	font-family: "Segoe UI";
}

span.helper-span {
	font-size:14px;
	vertical-align:10px;
	margin-left:5px;
	cursor:pointer;	
}

#group-list-column {
	margin-left:1%;
	width: 20%;
}

#stats-column {
	margin-left:6%;
	width: 47%;
	margin-right:5%;
	/*overflow-y:hidden !important;*/
}

#system-column {
	width: 20%;
	margin-right:1%;
	font-size:14px;
	line-height:25px;
}

#control_div {
	position:fixed;
	background:#444444;
	bottom:0px;
	width:100%;
	min-width:800px;
	height:50px;
}

#control_div div {
	margin-top: 6px;
	color:white;
	float:left;
}

#addgroup_div {
	margin-left:20px;
}

#screen-select-div {
	margin-left:50px;
}

#operations-counter {
	position: absolute;
	right: 10px;
}

#graphFrame {
	padding: 0;
	margin: 0;
}

div.system-column-subheader {
	font-size:18px;
	color:#ff6600;
	margin-bottom:7px;
}

span.system-column-number {
	font-size:18px;
}

#group_stats_snapshot {
	font-family: 'Segoe UI';
	width: 800px;
	font-size:14px;
	margin-bottom:90px;
}

div.snapshot-cell {
	float: left;
	margin-right: 15px;
	margin-top: 3px ;
	margin-bottom: 3px;
}

span.snapshot-cell-value {
	font-size: 18px;
}

#group_stats_snapshot_header {
	font-family: "Segoe UI";
	font-size: 20px;
	margin-bottom: 15px;
	margin-top:-9px;
	color:#0066ff
}

#demogeo_snapshot_header {
	font-size: 20px;
	margin-left:10px;
	margin-bottom: 15px;
	margin-top:5px;
	color:#0066ff
}

span.snapshot-cell-additional-info {
	font-size: 12px;
	color: #808080;
}

input.date-pick {
	width: 80px;
}

div.chart_container {
	margin-bottom: 60px;
	width: 800px;
	height: 500px;
}

#demogeo-container {
	width: 800px;
	height: 800px;
}

#tag-set {
				
				
}

#posts-list {
	width:100%;
	height:400px;
	overflow-y:auto;
}

#tag-set {
	width:100%;
	max-height:200px;
	overflow-y:auto;
	margin-bottom:15px;
}

div.tag {
	font-size: 16px;
	color:#0066ff;
	margin-right:30px;
	margin-top:10px;
	float:left;
	cursor:pointer;
}

div.post-tag {
	font-size: 14px;
	color:#0066ff;
	margin-right:30px;
	margin-top:5px;
	display:inline;
	cursor:pointer;				
}

div.big-header {
	color:#ff6600;
	font-size:20px;
	margin-bottom:5px;
}

div.text-category-adder {
	margin-bottom:30px;
	font-size:14px;
}

span.text-category-adder {
	cursor:pointer;
	color:#ff6600;
}

span.tag-edit-ok {
	margin-left:10px;
	cursor:pointer;
	color:#ff6600;
}

span.tag-edit-del {
	margin-left:10px;
	cursor:pointer;
	color:#ff0000;
}

div.post-cell {
	width:100%;
	clear:both;
	margin-bottom:20px;
}

div.post-cell-tags {
	
}

div.post-text {
	margin-bottom:0px;
	font-size:14px;
}

#posts-list {
	margin-top: 15px;
}

#filter-box {
	font-size:12px;
}

#filter-box input {
	vertical-align:-2px;
}