#control_div {
	color:white;
	background:#000000;
	position:fixed;
	top:0px;
	left:0px;
	width:200px;
	height:2000px;
	box-shadow: 0px 0px 20px #111;
}

#app-logo {
	font-size:40px;
	margin-left:5px;
}

#app-version {
	font-size:12px;
	margin-top:0px;
	margin-left:8px;
	margin-bottom:20px;
}

#add-group-id {
	font-family:"Segoe UI";
	font-size:10px;
	width:55px; 
	margin-left:5px;
}

#app-logout {
	margin-bottom:10px;
	margin-top:5px;
}

#app-stats {
	margin-left:10px;
	font-size:12px;
}

#app-bottom-controls {
	position:absolute;
	bottom:0px;
	left:10px;	
	font-size:14px;
}

#operations-counter {
	margin-left:20px;
	position:fixed;
	top:10px;
	right:10px;
	background:#000;
	opacity:0.5;
	color:#ffffff;
}

div.system-column-subheader {
	font-size:16px;
	margin-bottom:3px;
	font-family:'Segoe UI Bold';
}

#app-delete-group {
	display:inline-block;
	margin-left:365px;
}

#app-update-group {
	display:inline-block;
}

#groups-tiles {
	width:1000px;
	position:absolute;
	left:230px;
	top:20px;
}

div.group-tile {
	width:350px;
	background:black;
	border:1px solid #888;
	position:absolute;
	color:white;
	box-shadow: 0px 0px 10px #666;
}

div.group-tile table {
	border-spacing:0px;
}

div.group-tile-sparkline {
	font-size:12px;
	margin-top:10px;
}

div.group-tile-sparkline > div{
	margin-top:9px;
	margin-bottom:1px;
}

div.group-tile-header {
	cursor:pointer;
	font-family: 'Segoe UI Bold';
	font-size:20px;
}

div.group-tile-attr {
	display:inline-block;
	color:#0099ff;
	font-size:12px;
	margin-right:12px;
	font-family: 'Segoe UI Bold';
	cursor:pointer;
}

td.group-tile-sparklines-second-column {
	padding-left:15px;
}

div.inner-group-tile {
	padding:10px;
}

div.app-tab {
	cursor:pointer;
	font-size:16px;
	font-family:'Segoe UI Bold';
	margin-top:20px;
	margin-bottom:15px;
	margin-left:8px;
	margin-right:5px;
	color:#888;
}

#chosen-group-label {
	font-size:20px;
	font-family:'Segoe UI';
	color:#0099ff;
	margin-left:8px;
	margin-right:10px;
}

div.app-tab:hover {
	color:#fff;
}

#app-content {
	margin-left:250px;
	margin-top:20px;
	width:800px;
}

#groups-box {
	background:black;
	box-shadow: 0px 0px 20px #111;
	max-width:600px;
	padding:20px;
	position:absolute;
	color:#fff;
	left:200px;
	top:80px;
}

#groups-box div {
	display:inline-block;
	margin-right:30px;
	margin-top:10px;
	margin-bottom:10px;
	font-size:14px;
	cursor:pointer;
}
